---
title: Life Coaching | Personal Coach | Coachingme.co
---



            <div class="center text-right" >
                <div class="container">
                    <div class="banner">
                        <h1 class="condensed">Life Coaching</h1>
                 
                    </div>
                    <div class="subtitle"><h4>Planifica el viaje hacia tu meta</h4></div>
                </div>
            </div>
        <div class="bottom">
            <div class="text-right container hidden-xs"><a id="scrollDownArrow" href="#"><i class="ion-ios7-arrow-thin-down"></i></a></div>
            <div class="signupForm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                            <b class="mb10">Descubre nuevos puntos de vista, estratégias y técnicas que te iluminarán el camino hacia tu objetivo</b>

                        </div>
                        <div class="col-md-6 text-right">
                            <form action="MAILTO:canoucanel@msn.com" method="post" enctype="text/plain" class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="name">Tu nombre</label>
                                    <input type="text" class="form-control" id="name" placeholder="Tu nombre">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="name">Tu email</label>
                                    <input type="email" class="form-control" id="name" placeholder="Tu email">
                                </div>
                                <input type="submit" class="btn btn-primary" value="Enviar">
                            </form>
                        </div>
                    </div>
                </div><!-- container -->
            </div><!--/signupForm-->
        </div>
    </div>
    <!-- /#header -->



    <div id="video" class="cyan-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-wrapper">
                        <h1 class="giant-heading">
                            Hazte<br/>
                            a ti <br/>
                            Mismo
                        </h1>

                        <p> Todos deseamos conseguir ciertas cosas en la vida y a veces nos encontramos que no son fáciles de alcanzar por nosotros mismos. 
                        Un Life Coach que ha sido rigurosamente entrenado puede ser un recurso muy poderoso. Tu Coach te ofrecerá las herramientas que necesitas para que liberes todo tu potencial, tomes la iniciativa y te responsabilices al 100% de conseguir todo aquello que te propones.
                        

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-wrapper">
                        <div class="video"></div>
                        
                        <div class="video-container">
                           <iframe width="420" height="315" src="https://www.youtube.com/embed/ZwPyuBXLeKo" frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.services --> 
        </div>
        <!-- /.container -->
    </div><!-- #video -->




   <div id="story" class="light-wrapper">
        <div class="container inner">
            <div class="row story">
                <div class="col-sm-6">
                    <div class="col-wrapper">
                        
                        <%= image_tag "content-left.jpg", class: "bottom-marged" %>



                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-wrapper">
                        <p><span class="up-caps">N</span> o me sentía con derecho a quejarme de la vida que tenía. Había desarrollado una exitosa carrera en la industria de la publicidad, trabajaba en lo que me gustaba y tenía un trabajo en Londres dentro de una empresa internacional y de prestigio que a final de mes me daba un sueldo que me permitía llevar una vida sin preocupaciones. 
                        <p>
                        Independientemente de estas circunstancias había un algo, un vacío, una necesidad de más que no sabía de donde venía. Mi primera reacción fue consumista e intenté llenar este no se qué comprando cosas que no necesitaba, pero la emoción se esfumaba según llegaban a mis manos. Hasta que un día me dí cuenta de que en un mundo tan deshumanizado como la publicidad y las ventas, lo que me faltaba era la necesidad de ser útil a otros, de hacer su camino hacía sus objetivos más fácil y llano, ofrecer apoyo y sentir que estaba haciendo la diferencia en la vida de una persona. Así descubrí cel Coaching. No lo pensé ni un minuto, me certifiqué y comencé esta aventura que tanto me ha dado. 
                        <p>
                        En este camino he contado con apoyo de mi propio Coach, todos necesitamos una mano amiga que nos ayude a dar luz a lo que tenemos dentro de nosotros. 
                        Ahora soy yo la que te extiendo la mano y te pregunto - ¿Qué quieres conseguir?</p>
                        </p>

                    </div>
                </div>
            </div>
            <!-- /.services --> 
        </div>
        <!-- /.container -->
    </div><!-- #story -->





<!-- start part 5---------------------------------------------------- -->

<section id="services" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title"> Pero... ¿Qué hace un Coach?</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            La pregunta te la hago yo a ti - ¿Que objetivo quieres trabajar con tu Coach? 
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-3">

                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-magic-wand"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Coaching de Negocio</h3>
                            <div class="iconbox-desc">
                                Independientemente de si eres el propietario de un negocio, gestionas un equipo o eres una persona buscando un nuevo trabajo o carrera, el Coaching de Negocio te ayuda  a desarrollar y pulir tu talento innato y aumentar las posibilidades de éxito. 
                                <p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Liderazgo</h3>
                            <div class="iconbox-desc">
                                Las habilidades de liderazgo se pueden aplicar en todos los aspectos de la vida. Entre muchos beneficios desarrollar tu liderazgo te ayudará a ganar la confianza que necesitas para alcanzar todo tu potencial en el trabajo, en casa y en tus relaciones con otros. 
                                <p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-badge"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Life Coaching</h3>
                            <div class="iconbox-desc">
                                Tanto si deseas mejorar tus relaciones familiares, con tus hijos, con amigos o compañeros de trabajo; si quieres mejorar tu autoestima, tu salud o tus finanzas el Coaching de desarrollo personal puede ser un gran aliado. 
                                <p>
                                <p>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-question"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Coaching Cultural</h3>
                            <div class="iconbox-desc">
                                Cada semana miles de personas emigran para comenzar una nueva vida en el extranjero. Tan emocionante como suena, la experiencia también trae nuevos retos. El Coaching te ofrece apoyo en la transición hacia una nueva cultura, amigos y maneras de trabajar y relacionarse.

                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- .row -->
        </div><!-- .container -->
    </section>
<!-- end part 5---------------------------------------------------- -->

<div id="beneficios" class="text-center pfblock pfblock-gray">
    <h2>Beneficios del Coaching</h2>

    <div id="gallery" class="grid">
        <figure class="effect-bubba">
            <%= image_tag "1.jpg", alt: "img01" %>

            <figcaption>
                <h2>Impulsa la consecución de <span>Objetivos</span></h2>
                <p>Convierte sueños en realidades</p>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
        <figure class="effect-bubba">
            
          <%= image_tag "2.jpg", alt: "img02" %>

            <figcaption>
                <h2>Fortifica el <span>Autoestima</span></h2>
                <p>Trabaja las cualidades que te hacen especial</p>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
        <figure class="effect-bubba">
            <%= image_tag "3.jpg", alt: "img03" %>

            <figcaption>
                <h2>Mejora la <span>Productividad</span></h2>
                <p>Maximiza el potencial individual y de equipo</p>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
        <figure class="effect-bubba">
            <%= image_tag "4.jpg", alt: "img04" %>
            <figcaption>
                <h2>Estimula el paso a la <span>acción</span></h2>
                <p>Establece plazos y maneras de medir el desarrollo</p>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
        <figure class="effect-bubba">
            <%= image_tag "5.jpg", alt: "img05" %>
            <figcaption>
                <h2>Elimina <span> creencias limitantes</span></h2>
                <p>Cambia la manera en la que te ves en el mundo</p>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
        <figure class="effect-bubba">
            <%= image_tag "6.jpg", alt: "img06" %>
            <figcaption>
                <h2>Genera <span>evolución personal y profesional</span></h2>
                <p>Motiva e incita a superarse a sí mismo</p>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
    </div><!-- #gallery -->
</div>

    <div id="blog" class="light-wrapper">
        <div class="container inner">
            <div class="title">
                <h2 class="section-title text-center">El proceso del Coaching</h2>
                <p class="lead main text-center"></p>
            </div>

            <div class="row blog">
                
                <div class="col-sm-6 left">
                    <div class="news clearfix">
                      <%= image_tag "n1.jpg", alt: "imgn1" %>

                        <h3>1. Sesión Introductoria Gratuíta</h3>
                        <p>Discutir el acuerdo del coaching, responder preguntas y ver la química entre Coach y Coachee</p>
                        <a href="#" class="fold-link">Read More</a>
                    </div>
                    <div class="news clearfix">
                        <%= image_tag "n2.jpg", alt: "imgn2" %>
                        <h3>3. Exploración de la Realidad</h3>
                        <p>Descripción de las creencias y valoraciones, recursos, dificultades y necesidades. </p>
                        <a href="#" class="fold-link">Read More</a>
                    </div>
                    <div class="news clearfix">
                        <%= image_tag "n3.jpg", alt: "imgn3" %>
                        <h3>5. Plan de Acción</h3>
                        <p>Concrección de las acciones que se llevarán a cabo. Recuerda que la responsabilidad final es solamente tuya.</p>
                        <a href="#" class="fold-link">Read More</a>
                    </div>
                </div>  <!-- col-sm-6  -->

                <div class="col-sm-6 right">
                    <div class="news clearfix">
                        <%= image_tag "n4.jpg", alt: "imgn4" %>
                        <h3>2. Identificación del Objetivo</h3>
                        <p>Específico, Medible, Alcanzable, Realista, encuadrado en el Tiempo, Ecológico y Retador</p>
                        <a href="#" class="fold-link">Read More</a>
                    </div>
                    <div class="news clearfix">
                        <%= image_tag "n5.jpg", alt: "imgn5" %>
                        <h3>4. Generación de Opciones</h3>
                        <p>Análisis y selección de alternativas que te acerquen al objetivo</p>
                        <a href="#" class="fold-link">Read More</a>
                    </div>
                    <div class="news clearfix">
                        <%= image_tag "n6.jpg", alt: "imgn6" %>
                        <h3>6. Seguimiento</h3>
                        <p>Se recomienda tener sesiones de Coaching cada 2 semanas</p>
                        <a href="#" class="fold-link">Read More</a>
                    </div>
                </div>  <!-- col-sm-6  -->

            </div>
            <!-- /.blog --> 
        </div>
        <!-- /.container -->
    </div><!-- #blog -->


<!--
        Some fun facts
        ==================================== -->        
        
        <section id="facts" class="facts">
            <div class="parallax-overlay">
                <div class="container">
                    <div class="row number-counters">
                        
                        <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                            <h2>Some Fun Facts</h2>
                            <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                        </div>
                        
                        <!-- first count item -->
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                            <div class="counters-item">
                                <i class="fa fa-clock-o fa-3x"></i>
                                <strong data-to="3200">70,000</strong>
                                <!-- Set Your Number here. i,e. data-to="56" -->
                                <p>Pensamientos al día aunque la mayoría son el mismo rotando alrededor de nuestro cerebro. Asegúrate de que no te dices “No Puedo“ 50,000 veces al día o sí, efectivamente no podrás. </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="counters-item">
                                <i class="fa fa-users fa-3x"></i>
                                <strong data-to="120">2</strong>
                                <!-- Set Your Number here. i,e. data-to="56" -->
                                <p>Especies son conocidas por buscar emociones en la mirada de otros - los perros y los hombres. Y los perros solo lo hacen con humanos.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="counters-item">
                                <i class="fa fa-rocket fa-3x"></i>
                                <strong data-to="360">360</strong>
                                <!-- Set Your Number here. i,e. data-to="56" -->
                                <p> Projects Delivered </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                            <div class="counters-item">
                                <i class="fa fa-trophy fa-3x"></i>
                                <strong data-to="6454">6454</strong>
                                <!-- Set Your Number here. i,e. data-to="56" -->
                                <p>Awards Won</p>
                            </div>
                        </div>
                        <!-- end first count item -->
                
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        End Some fun facts
        ==================================== -->



            <div class="content-block" id="testimonials">
                <div class="container">
                    <header class="block-heading cleafix">
                        <h1>Testimonials</h1>
                        <p>Some happy customers have to say.</p>
                    </header>
                    <section class="block-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="testimonial">
                                  <%= image_tag "testimonialpzimt.png", alt: "testimonial1" %>

                                    <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                                    <strong>Jhon Doe</strong><br/>
                                    <span>Head of Ideas, Technext</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="testimonial">
                                  <%= image_tag "testimonial_11-190x190.jpg", alt: "testimonial-2" %>
                                    <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                                    <strong>Jane Doe</strong><br/>
                                    <span>CEO, Apple Inc</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="testimonial">
                                  <%= image_tag "testimonial_22-190x190.jpg", alt: "testimonial-3" %>
                                    <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                                    <strong>Albert Doe</strong><br/>
                                    <span>Team Lead, Design Studio</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- /#testimonials -->



        <!-- Price section -->
        <section id="price" class="pfblock pfblock-gray">
            <div class="container">
                <div class="row">
                
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Price</h2>
                        <p>Our price for your company</p>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp">
                        <div class="price-table text-center">
                            <span>Silver</span>
                            <div class="value">
                                <span>$</span>
                                <span>24,35</span><br>
                                <span>month</span>
                            </div>
                            <ul>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
                        <div class="price-table featured text-center">
                            <span>Gold</span>
                            <div class="value">
                                <span>$</span>
                                <span>50,00</span><br>
                                <span>month</span>
                            </div>
                            <ul>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
                        <div class="price-table text-center">
                            <span>Diamond</span>
                            <div class="value">
                                <span>$</span>
                                <span>123,12</span><br>
                                <span>month</span>
                            </div>
                            <ul>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
        <!-- end Price section -->

<!-- Contact start -->

    <section id="contact" class="pfblock">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="pfblock-header">
                        <h2 class="pfblock-title">Drop me a line</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
                        </div>
                    </div>

                </div>

            </div><!-- .row -->


            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <form id="contact-form" role="form">
                        <div class="ajax-hidden">
                            <div class="form-group wow fadeInUp">
                                <label class="sr-only" for="c_name">Name</label>
                                <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                            </div>

                            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                                <label class="sr-only" for="c_email">Email</label>
                                <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                            </div>

                            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                                <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
                            </div>

                            <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                        </div>
                        <div class="ajax-response"></div>
                    </form>

                </div>

            </div><!-- .row -->
        </div><!-- .container -->
    </section>

    <!-- Contact end -->



